@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@500&display=swap');

h1, h2{
    font-family: "Kaushan Script";
}
p{
    font-family: "Montserrat";
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #080808
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #080808;
    color: #CF385B;
}
nav a{
    text-align: center;
    color: #CF385B;
    text-decoration: none;
    font-size: 2em;
    padding: 35px;
}
nav a:hover {
    background-color: black;
    color: #3A6E62;
}
.logo{
    width: 100px;
    margin-top: 4px;
}
.about_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #3A6E62;
}

.card-img{
    width: 500px;
    grid-column: 1/2;
    grid-template-rows: 1fr;
}
.about-text{
    grid-column: 2/3;
    width: 800px;
}
.about-text h1{
text-align: center;
font-size: 5em;
color: #080808;
}
.about-text p{
    text-align: left;
    margin-left: 50px;
    font-size: 2em;
    color: #080808;
}
.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -250px;
    margin-bottom: 0px;
    background-color: #3A6E62;
}
.text1{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 3em;
    text-align: center;
}
.text2{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 3em;
    text-align: center;
}
.landscape-img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
}
.wildlife-img{
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
}
#pages{
   
    background-color: #3A6E62;
}
.landscapeh1 h1, .wildlifeh1 h1{
    font-size: 5em;
    text-align: center;
    color: #080808;
}
.landscapeh1 p, .wildlifeh1 p{
    font-size: 2em;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.landscape-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.landscape-grid{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 25px;
    margin-bottom: 50px;
}
.landscape-album-1, .landscape-album-2{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.landscape-album-1{
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.landscape-album-1{
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    
}
.landscape-album-big-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 20px;
}















footer {
    background-color: black;
    padding: 25px 50px;
    margin-top: 0px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    background-color: black;
    color: grey;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    font-size: 2em;

}
footer a:hover{
    background-color: black;
    color: lightgoldenrodyellow;
}
footer p {
    font-size: 2em;
    color: grey;
}
footer p a:hover {
    text-decoration: underline;
}
